.section-title{
margin-top: 7rem;
margin-bottom: 2rem;
text-align: center;
font-weight: bold;
}

main {
    margin: 0 1rem;
  }
  
  footer {
    padding: 2%;
    text-align: center;
  }
  
  .section-header {
    position: absolute;
    top: 2rem;
    z-index: 2;
    font-size: 1rem;
    margin: 0 0 2rem 0;
  }
  
  .section-title {
    text-align: center;
    padding: 0 0 1rem 0;
    font-size: 3rem;
    text-transform: uppercase;
  }

.grid-gallery{
    /* --spacing:1%; */
    background-color: rgb(255, 255, 255);

    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); */
    grid-template-columns: 1fr 1fr;
    gap: 1.5vw;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 3.5%;
}

.card{
    position: relative;
    aspect-ratio: 1/1;
}

.card_img{
    display: block; /*remove img gap*/
    width: 100%;
    height: 100%;
    object-fit: cover;  /*helps it not stretch out */
  
    background: rgba(255, 255, 255, )
}

.card_overlay{
    background-color: rgba(255, 255, 255, 0.8);
    width: 90%;
    height: 90%;
    margin-top: 5%;
    margin-left: 5%;
    font-size: 3rem;
    text-decoration: none;
    color: black;
    text-align: center;
    
    position: absolute;
    top: 0;

    display: grid;
    place-items: center;
    
    opacity: 0;

    transition: opacity .25s;
}

.card:hover .card_overlay{
    opacity: 1;
}

@media(max-width:991px){
  .grid-gallery{
    /* --spacing:1%; */
    background-color: rgb(255, 255, 255);

    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(200px,1fr)); */
    grid-template-columns: 1fr;
    gap: 4vh;
    padding-left: 10%;
    padding-right: 10%;
}
}