.section-title{
    margin-top: 7rem;
    margin-bottom: 0.5rem;
    text-align: center;
    font-weight: bold;
    }
    
  main {
    margin: 0 auto;
    max-width: 70rem;
  }
      
      footer {
        padding: 2%;
        text-align: center;
      }
      
      .section-header {
        position: absolute;
        top: 2rem;
        z-index: 2;
        font-size: 1rem;
        margin: 0 0 2rem 0;
      }
      
      .section-title {
        text-align: center;
        padding: 0 0 0 0;
        font-size: 3rem;
        text-transform: uppercase;
      }

      .date {
        text-align: center;
        padding: 0 0 0.5rem 0;
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-bottom: 1rem;
        color: #999;
      }

      .description {
        text-align: left;
        font-size: 1.2rem;
        color: black;
        max-width: 75ch;
        margin: 0 auto;
        margin-bottom: 2rem;
        padding: 0 1rem;
        line-height: 1.5;
      }
    
    .grid-gallery{
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 1fr;
        gap: 2vw; 
        width: 100%;
        padding-bottom: 3%;
    }
    
    .collage{
        display: block; /*remove img gap*/
        width: 100%;
        height: 100%;
        object-fit: cover;  /*helps it not stretch out */
        background: rgba(255, 255, 255)
    }

    .img{
        position: relative;
    }
    
    /* .grid-container {
      display: grid;
      gap: 2vw;
    } */
    
    /* .grid-responsive {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
    
    .grid-4-col {
      grid-template-columns: repeat(4, 1fr);
    }
    
    .grid-3-col {
      grid-template-columns: repeat(3, 1fr);
    } */
    
    /* @media(max-width:991px){
      .grid-gallery{
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: 1fr;
        gap: 3vw;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
      }
    }

    @media(max-width:1280px){
        .description {
            text-align: left;
            padding: 0 0 0.5rem 0;
            font-size: 1.2rem;
            margin-bottom: 2rem;
            color: black;
            padding-left: 10%;
            padding-right: 10%;
            padding-bottom: 2%;
          }
    } */